.menu {
    width: 90%;
    height: 60vh;
    margin: 3% auto 2% auto;
    padding: 5px;
}

.menu-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1% auto 1% auto;
}
a {
    text-decoration: none;
}
.menu-img-cad{
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1% auto 1% auto;
}
.menu-img :hover {
    width: 60%;
    justify-content: center;
    align-items: center;
    margin: 1% auto 1% auto;
}
.menu-img-cad :hover{
    width: 170px;
    justify-content: center;
    margin: 1% auto 1% auto;
}
p {
    font-weight: bolder;
    text-align: center;
}

.text-thead{
    text-align: center;
}
.dropdown{
    margin-right: 36%;
}
table{
    margin-top: 2%;
}

@media only screen and (min-width: 800px){
    menu {
        width: 70%;
        height: 60vh;
        margin: 3% auto 2% auto;
    }
    .menu-img {
        display: inline-block;
        position: relative;    
        left: 18%;
        top: 30%;
        width: 15%;
        padding: 1%;
    }
    .menu-img :hover {
       width: 44%;
    }
    .menu-img-cad{
        margin-bottom: 30px;
        display: inline-block;
        position: relative;  
        top: 100px;  
        left: 35%;
        width: 15%;
    }
    form{
        margin-left: auto;
        margin-right: auto;
        width: 800px;
    }
 

}